@charset "utf-8";
* {
    box-sizing: border-box; /* bx */
}
body,h1,h2,h3,p,ul {
    margin: 0; /* m0 */
}
ul {
    list-style: none;
    padding: 0; /* p0 */
}
a {
    text-decoration: none; /* tdn */
    color: #333; /* c#333 */
}