@charset "utf-8";

/* reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

ul{
    list-style:none;
    padding-left:0;
    margin-bottom:0;
}

a{
    text-decoration:none;
}

body{
    font-family:"맑은 고딕",sans-serif;
}


/*==========================
상단
==========================*/

.footer-top{

    background:#f7c600;
}

.policy-menu{

    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;

    gap:40px;

    height:58px;
}

.policy-menu a{

    color:#111;
    font-size:15px;
    font-weight:bold;
}


/*==========================
하단
==========================*/

.footer-bottom{

    background:#222;
    color:#999;
    padding:60px 0;
}


/*==========================
왼쪽
==========================*/

.logo{

    color:#fff;
    font-size:48px;
    margin-bottom:25px;
    font-weight:bold;
}

.sns{

    display:flex;
    gap:15px;
    margin-bottom:30px;
    flex-wrap:wrap;
}

.sns a{

    width:46px;
    height:46px;

    background:#fff;
    color:#222;

    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:11px;
    font-weight:bold;
}

.company p{

    line-height:1.9;
    font-size:15px;
    margin-bottom:10px;
}

.company strong{

    color:#fff;
}


/*==========================
사이트맵
==========================*/

.col h3{

    color:#fff;
    font-size:18px;      /* 제목 축소 */
    margin-bottom:18px;

    white-space:nowrap;  /* 한 줄 */
}

.col li{

    margin-bottom:12px;
}

.col a{

    color:#999;
    font-size:14px;      /* 글자 축소 */
    white-space:nowrap;  /* 줄바꿈 방지 */

    transition:.3s;
}

.col a:hover{

    color:#fff;
}


/*==========================
Tablet
==========================*/

@media (max-width:991px){

.logo{

    font-size:40px;
}

.footer-bottom{

    text-align:center;
}

.sns{

    justify-content:center;
}

}


/*==========================
Mobile
==========================*/

@media (max-width:576px){

.policy-menu{

    gap:15px;
    height:auto;
    padding:15px 0;
}

.policy-menu a{

    font-size:13px;
}

.logo{

    font-size:34px;
}

.company p{

    font-size:14px;
}

.col h3{

    margin-top:20px;
}

}