@charset "utf-8";
@import url(common.css);

/* 작업중... */
body * {outline: 1px dotted #f00;}

/* layout: flex */
header {
    background: var(--color-primary);
    padding: 0 50px; /* p0-50 */
}
header a {
    color: var(--color-white);
}
.container {
    height: 95px; /* h95 */
    display: flex; /* df */
    justify-content: space-between; /* jcsb */
    align-items: center; /* aic */
}

/* logo */
.logo {
    width: 207px; /* w207 */
    height: 69px; /* h69 */
    font-size: 1.375rem; /* fz22 */
    text-align: center; /* tac */
    letter-spacing: .3rem; /* ls.3rem */
}
.logo span {
    display: block; /* db */
    font-size: var(--fz-sm); /* fz14 */
}

/* GNB */
.depth1 {
    /* 대체로 글자 속성은 상속 받는다. */
    display: flex;
    gap: 75px; /* g75 */
    text-align: center; /* tac */
}
.depth1 > li > a {
    font-size: var(--fz-lg);
}
.depth2 {
    /* alt+shift+a */
    /* display: none; */ /* dn */
    position: absolute; /* poa */
    height: 200px;
}
/* Util */
.util {
    display: flex;
    gap: 15px; /* g15 */
}
/* 구분점 */
.sns::after {
    display: inline-block;
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%; /* borr */
    background: var(--color-white);
    vertical-align: middle; /* vam */
    margin-left: 8px;
}
/* SNS */
.sns-link {
    position: relative;
}
.sns-link span {
    opacity: 1;
    transition: 0.2s; /* trs.2s */
}
.sns:hover .sns-link span {
    opacity: 0;
}
/* SNS 호버시 폰트어썸 아이콘 보이기 */
.sns-link::before {
    content: '\f167';
    font-family: 'Font Awesome 6 Brands'; /* ff */
    font-size: 28px;
    color: #f00;
    position: absolute; /* poa */
    top: 50%; /* t50p */
    left: 50%; /* l50p */
    transform: translate(-50%, -50%); /* trft */
    opacity: 0; /* op0 */
    transition: 0.2s; /* trs.2s */
}
.sns:hover .sns-link::before {
    opacity: 1; /* op1 */
}
/* Login */
.login {
    /* display: flex;
    gap: 15px; */
    font-size: var(--fz-sm);
}
.login > a:first-child {
    margin-right: 15px; /* mr15 */
}
