@charset "utf-8";
@import url(common.css);

/* 작업중... */
body * {outline: 1px dotted #f00;}

/* layout: flex */
header {
    background: var(--color-primary);
    padding: 0 50px; /* p0-50 */
}
header a {
    color: var(--color-white);
}
.container {
    height: 95px; /* h95 */
    display: flex; /* df */
    justify-content: space-between; /* jcsb */
    align-items: center; /* aic */
}

/* logo */
.logo {
    width: 207px; /* w207 */
    height: 69px; /* h69 */
    
}

/* GNB */
.depth1 {
    display: flex;
    gap: 75px; /* g75 */
}
.depth2 {
    display: none; /* dn */
}
/* Util */
.util {
    display: flex;
}
/* SNS */
/* Login */
